* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f7fa;
}

.section3 {
  position: relative;
  margin-top: 144px;
  width: 1440px;
  height: 780px;
  h2 {
    color: #303030;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
  }
  .servis {
    display: flex;
    margin-top: 32px;
    margin-left: 202px;
    width: 80%;
    height: 50%;
    .section3-phone {
      position: relative;
      width: 219px;
      height: 410px;
      .phone {
        width: 219px;
        height: 410px;
        background-image: url(../images/section3phone.png);
        background-repeat: no-repeat;
        background-size: 100%;
        .phone-fon {
          margin-top: 15px;
          margin-left: 15px;
        }
        .section3-circle {
          position: absolute;
          top: 100px;
          left: 25px;
        }
        h3 {
          position: absolute;
          top: 274px;
          left: 82px;
          color: #fff;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 44px;
          letter-spacing: 2.38px;
        }
        .pomosh {
          position: absolute;
          top: -20px;
          left: 95px;
          width: 187px;
          height: 106px;
          border-radius: 11.936px;
          background: linear-gradient(326deg, #f0ebff 0%, #fff 100%);
          box-shadow: 0px 13.52765941619873px 39.7872314453125px 0px
            rgba(187, 166, 255, 0.78);
          h4 {
            margin-top: 19px;
            margin-left: 23px;
            color: #000;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 15.915px;
          }
          .section3-btn {
            margin-top: 6px;
            margin-left: 19px;
            width: 148px;
            height: 46px;
            border-radius: 7.957px;
            background: linear-gradient(326deg, #2641d1 0%, #3333a3 100%);
            color: #fff;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14.323px;
          }
        }
      }
    }
    .servis-info-1 {
      margin-left: 77px;
      width: 500px;
      height: 255px;
      h3 {
        color: #34449c;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 2.72px;
      }
      p {
        width: 438px;
        color: #404040;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
    .servis-info-2 {
      width: 330px;
      height: 255px;
      ul {
        margin-top: 40px;
        list-style-image: url(../images/section3-Vector.png);
        li {
          margin-top: 24px;
          color: #404040;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
  }
  .section3-cards {
    position: absolute;
    top: 400px;
    display: flex;
    margin-left: 80px;
    width: 90%;
    height: 350px;
    column-gap: 19px;
    .section3-card-1 {
      width: 236px;
      height: 342px;
      border-radius: 20px;
      background: linear-gradient(200deg, #fff 0%, #f4f9ff 100%);
      box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
      img {
        margin-top: 36px;
        margin-left: 32px;
      }
      h3 {
        margin-top: 16px;
        margin-left: 32px;
        color: #404040;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }
      p {
        margin-top: 16px;
        margin-left: 32px;
        width: 172px;
        color: #404040;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .section3 {
    margin-top: -700px;
    margin-top: 50px;
    width: 350px;
    height: 2050px;
    .servis {
      display: block;
      width: 350px;
      margin-left: 1px;
      .section3-phone {
        margin-left: 1px;
        width: 350px;
        height: 300px;
        .phone {
          width: 159px;
          .phone-fon {
            width: 135px;
            height: 275px;
          }
          .section3-circle {
            width: 127px;
            height: 123px;
            margin-left: -3px;
          }
          h3 {
            margin-top: -50px;
            margin-left: -20px;
            color: #fff;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-size: 10.401px;
            font-style: normal;
            font-weight: 600;
            line-height: 32.689px;
            letter-spacing: 1.768px;
          }
          .pomosh {
            margin-top: 30px;
            width: 138px;
            height: 84px;
            h4 {
              margin-top: 16px;
              margin-left: 4px;
              color: #000;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-size: 10px;
              font-style: normal;
              font-weight: 600;
              line-height: 15.915px;
            }
            .section3-btn {
              margin-top: 4px;
              margin-left: 11px;
              width: 116px;
              height: 32px;
              color: #fff;
              border: none;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-size: 10px;
              font-style: normal;
              font-weight: 600;
              line-height: 14.323px;
            }
          }
        }
      }
      .servis-info-1 {
        width: 350px;
        height: 300px;
        margin-left: 1px;
        h3 {
          margin-left: 20px;
          color: #34449c;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 44px;
          letter-spacing: 2.38px;
        }
        p {
          margin-left: 20px;
          width: 280px;
          color: #404040;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
      .servis-info-2 {
        width: 350px;
        ul {
          margin-left: 40px;
          li {
            color: #404040;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
        }
      }
    }
    .section3-cards {
      display: block;
      width: 350px;
      margin-top: 550px;
      margin-left: 1px;

      .section3-card-1 {
        margin-top: 8px;
        margin-left: 30px;
        width: 281px;
        height: 282px;
        img {
          margin-top: 32px;
          margin-left: 32px;
          width: 58px;
          height: 58px;
        }
        h3 {
          margin-top: 16px;
          margin-left: 32px;
          color: #404040;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
        }
        p {
          width: 217px;
          color: #404040;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
  }
}
